MONGO_URI=mongodb://root:localdevpassword@localhost:27017/quizzy?authSource=admin

# Chaîne aléatoire longue (ex: openssl rand -hex 32)
JWT_SECRET=

# Coût bcrypt
SALT_ROUNDS=12

# Durée de vie des tokens (format jsonwebtoken : 15m, 24h, 7d...)
JWT_EXPIRES_IN=7d

# debug | info | warn | error
LOG_LEVEL=info

PORT=3000
