.selectedMode,.notSelectedMode{
    color: #5a54e8!important;
    border-radius: 0% !important;

}

.first{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.last{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.selectedMode, .notSelectedMode:hover{
    background-color: #43bc6e !important;
}

.notSelectedMode{
    background-color: #54e889 !important;
}

.selectedMode:focus-visible, .notSelectedMode:focus-visible {
    outline: none;
}

h3{
    width: 100%;
}

.modeSelector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}